button {
  height: 60px;
  width: 200px;
  border-radius: 20px;
  border-color: transparent;
  font-size: 18px;
  cursor: pointer;
  background-color: #30475fa4;
  color: #9494b4;

  &:disabled {
    background-color: #6d859ea4;
    color: gray;
    cursor: not-allowed;
  }
}

#btn-logo {
  position: absolute;
  z-index: 1;
  margin: 5px;
  width: 64px;
  height: 64px;
  background-color: transparent;
  border-color: transparent;
}

#win-pause {
  position: absolute;
  z-index: 2;
  background-color: color-mix(in srgb, black, transparent 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px;

  section {
    display: flex;
    flex-direction: column;
    height: 100%;

    main {
      flex: 1;
    }

    footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
}

#win-log {
  position: absolute;
  z-index: 1;
  overflow: auto;
  top: 5px;
  right: 5px;
  bottom: 5px;
  padding-left: 10px;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-weight: bold;
  border-radius: 14px;

  font-size: 12px;
  width: 220px;

  @media (max-width: 1024px) {
    font-size: 7px;
    width: 130px;
  }
}
